 /* Created 2018.*/
 /* Nurul Muttaqin - Mobile Web Specialist Batch 1.*/


html, body {
	margin: 0;
  	padding: 0;
	width: 100%;
	height: 100%;
}

a#menu svg {
        width: 40px;
        fill: #000;
    }
main {
	width: 100%;
	height: 100%;
}
nav, main {
        padding: 1em;
        box-sizing: border-box;
      }

nav {
	width: 300px;
	height: 100%;
	position: absolute;
	-webkit-transform: translate(-300px, 0);
	transition: transform 0.3s ease;
}

nav.open {
	-webkit-transform: translate(0, 0);
}

.dark_blue {
  background-color: #2A457A;
  color: #efefef;
}

.light_blue {
  background-color: #099DD9;
}

.green {
  background-color: #0C8542;
}

.lime {
  background-color: rgb(179, 210, 52);
}

.seafoam {
  background-color: rgb(77, 190, 161);
}

.red {
  background-color: #EC1D3B;
}

.orange {
  background-color: #F79420;
}

@media screen and (min-width: 600px){
	nav {
		position: relative;
		transform: translate(0, 0);
	}
	body {
		display: flex;
		flex-flow: nowrap;
	}
	main {
		width: auto;
		flex-grow: 1;
	}
}


/* If there is space (> 800px), we keep the drawer open by default. */
      @media (min-width: 600px) {
        main > #menu:after {
          content: 'The drawer stays open if width > 600px';
        }
        main p, nav p {
          text-decoration: line-through;
        }
      }